.container {
  max-width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  border: none;
  outline: 3px solid hsl(217, 16%, 45%);
  border-radius: 15px;

  @media screen and (max-width:768px) {
    padding: 1rem;
  }
}

img {
  @media screen and (max-width:768px) {
    height: 80px;
  }
}

.score_container {
  font-family: sans-serif;
  font-weight: 600;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;

  @media screen and (max-width:768px) {
    padding: .5rem 1.5rem;
  }
}

.scoreText {
  font-size: 1.2rem;
  color: hsl(229, 64%, 46%);
}

.score {
  font-size: 3rem;
  color: hsl(229, 25%, 31%);
}